<h1> Register Page</h1>

<h3>Enter your Details:</h3>

<%= form_with model: @user,local:true do |form|%>
<% if @user.errors.any? %>
<div id="error_explanation">
<h2>
<%= pluralize(@user.errors.count,"error") %> prohibted this form from being saved:
</h2>
<ul>
<% @user.errors.full_messages.each do |msg|%>
<li><%=msg%></li>
<%end%>
</ul>
</div>
<%end%>

<p>
<%=form.label:Username%><br>
<%=form.text_field:username%>
</p>
<p>
<%=form.label:Email%><br>
<%=form.text_field:email%>
</p>
<p>
<%=form.label:Address%><br>
<%=form.text_field:address%>
</p>
<p>
<%=form.label:Pincode%><br>
<%=form.text_field:pincode%>
</p>
<p>
<%=form.label:MobileNumber%><br>
<%=form.text_field:mobile%>
</p>
<p>
<%=form.label:Password%><br>
<%=form.text_field:password%>
</p>
<p>
<%=form.submit%>
</p>
<%end%>